{% extends "base.html" %}{% block content %}
<div class="row g-4">
  <div class="col-md-4">
    <div class="card p-4"><h5>Admin</h5><p>Manage doctors & appointments.</p>
      <a class="btn btn-dark" href="{{ url_for('auth.admin_login') }}">Admin Login</a></div>
  </div>
  <div class="col-md-4">
    <div class="card p-4"><h5>Doctor</h5><p>View/complete appointments.</p>
      <a class="btn btn-primary" href="{{ url_for('auth.doctor_login') }}">Doctor Login</a></div>
  </div>
  <div class="col-md-4">
    <div class="card p-4"><h5>Patient</h5><p>Book & manage appointments.</p>
      <a class="btn btn-success" href="{{ url_for('auth.patient_login') }}">Patient Login</a>
      <a class="btn btn-outline-success ms-2" href="{{ url_for('auth.patient_register') }}">Register</a></div>
  </div>
</div>
{% endblock %}
